// Articles List

.articles-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 64px 32px;
  @extend %mb-84;

  @include mq('tablet-small') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq('desktop') {
    grid-template-columns: repeat(3, 1fr);
  }

  li {
    display: flex;
    flex-direction: column;

    &.featured {
      background: var(--off-white);
      padding: 12px;
      border-radius: var(--radius);

      @include mq('tablet-small') {
        grid-column: span 2;
      }
    }

    &:hover {
      .article-thumbnail img {
        border-color: var(--primary);
      }
    }
  }

  .article-thumbnail {
    @extend %mb-24;
    position: relative;
    overflow: hidden;

    img {
      border: 2px solid transparent;
      @include transition();
      border-radius: var(--radius);
    }
  }

  a {
    text-decoration: none;
    color: var(--text-color);

    h2 {
      font-weight: normal;
      @extend %mb-4;
    }
  }

  .meta {
    @extend %pt-16;

    p {
      @include rem-size(14px);
      margin-block: 0;
    }

    a {
      text-decoration: underline;
      display: inline-block;

      &:hover {
        color: var(--primary);
      }
    }

    .author {

    }

    .divider {
      margin-inline: 8px;
    }

    @include mq('tablet-small') {
      margin-top: auto;
      display: flex;
      gap: 16px;

      .author {
        margin-left: auto;
        text-align: right;
      }
    }
  }
}


.tags {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  top: 12px;
  left: 12px;
  right: 12px;
  

  .tag {
    background: var(--primary);
    color: var(--text-color);
    font-weight: var(--bold);
    padding: 8px;
    @include rem-size(14px);
    box-shadow: 0 0 6px rgba(0,0,0,.3);
  }
}