/* Hero */

.hero {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background: var(--primary);
  margin-top: -48px;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.hero-content {
  .text-header--1 {
    @include rem-size(35px);
    line-height: 1.4em;
    font-weight: var(--bold);
    margin-block-end: 24px;
  }

  @include mq('tablet') {

    .text-header--1 {
      @include rem-size(48px);
    }

    p {
      @include rem-size(22px);
    }
  }
}

.hero-divider {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 35px;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
  @include transition(height);

  @include mq('phone') {
    height: 72px;
  }
}




.community-features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 90px;

  li {
    text-align: center;
  }

  .icon {
    width: 80px;
    height: 80px;
    background: var(--off-white);
    border-radius: var(--radius);
    margin: 0 auto 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 54px;
      height: 54px;
      fill: var(--primary);

    }
  }

  h3 {
    @extend %mb-8;
  }
}




/* Recent Article*/


.recent-article {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-inline: auto;
  position: relative;
  z-index: 2;

  .article-image {
    margin-inline: auto;

    img {
      border: 4px solid var(--white);
      border-radius: var(--radius);
    }
  }

  .article-intro {
    text-align: center;
    max-width: 550px;
    margin-inline: auto;
  }

  a {
    text-decoration: none;
  }

  @include mq('desktop-small') {
    flex-direction: row;
    align-items: center;
    gap: 60px;

    .article-image {
      max-width: 550px;
      width: 100%;
      margin-inline: 0;
    }

    .article-intro {
      text-align: left;
      flex: 1;
      margin-inline: 0;
    }
  }
}

.orange-side {
  position: relative;

  .content {
    z-index: 2;
  }


  @include mq('desktop-small') {
    .orange-background {
      background-color: var(--primary); 
      display: block;
      position: absolute;
      transform: translateX(-50%);
      top: 0;
      left: 0;
      bottom: 0;
      width: calc(100% - (1200px - 400px));

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        bottom: 0;
        right: -100px;
        width: 100px;
        background: var(--primary);
        // background: red;
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        z-index: 2;
        transform: translateX(-1px);
      }
    }
  }
}

/* FAQs*/

.faqs {
  --gap: 24px;
  --number-width: 20px;
  --item-padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 950px;
  margin-inline: auto;

  li {
    background: var(--off-white);
    border-radius: var(--radius);
  }

  button {
    width: 100%;
    cursor: pointer;
  }

  .question {
    padding: var(--item-padding);
    display: flex;
    gap: 24px;

    .number {
      @include rem-size(20px);
      line-height: 1.6;
      color: var(--gray-med);
      width: var(--number-width);
      flex-shrink: 0;
      align-self: flex-start;
    }

    h3 {
      flex: 1;
      align-self: center;
    }

    .faq-icon {
      height: 24px;
      width: 24px;
      fill: var(--primary);

      &.collapse {
        fill: var(--gray);
      }
    }
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    @include transition();

    .inner {
      padding: 0 var(--item-padding) var(--item-padding) calc(var(--gap) + var(--number-width) + var(--item-padding));
    }
  }
}