/*
-----------------------------------------
MASTHEAD
-----------------------------------------
*/


.site-masthead {
  position: relative;
  overflow: hidden;

  .content {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px 0;
    position: relative;
    z-index: 2;
  }
}

.site-nav {
  margin-inline-start: auto;
}


/* Hero */

.hero {
  background: var(--gray);
  position: relative;
  min-height: 500px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.75);
  }
}

#backgroundVideo {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}