/*
-----------------------------------------
MASTHEAD
-----------------------------------------
*/


.site-masthead {
  position: sticky;
  top: 0;
  z-index: 10;
  overflow: hidden;
  border-bottom: 1px solid var(--off-white);

  .content {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 0;
    position: relative;
    z-index: 2;
  }
}

.site-nav {
  margin-inline-start: auto;
}