extends ../../layouts/layout.pug

block vars

block content
  .container.page-header
    .content
      h1 Code of Conduct

  section.container
    .content
      .mb-24
        p
          big
            | In keeping the Latter-day Saint (LDS) Gamers Gaming Community a safe and inviting environment content on this site and its Discord chat server will be monitored for inappropriate content. Adherence to the following policies will ensure that this community is a friendly and enjoyable place for all who visit it.
      hr
      p
        strong Note:
        |  LDS as it is used in "LDS Gamers" is an acronym for "Latter-day Saint", which is the correct term to use to refer to 
        i members
        |  of 
        a(href='https://ChurchOfJesusChrist.org') The Church of Jesus Christ of Latter-day Saints
        | . This community is meant for Latter-day Saints and their friends that are seeking a gaming environment that is free from toxicity, vulgarity, and malice. All are welcome here. LDS Gamers is not affiliated with nor endorsed by the Church of Jesus Christ of Latter-day Saints.
      p
        strong
          | Discord Note: Raiding Discord servers is against 
          a(href='https://discordapp.com/guidelines') Discord's Guidelines
          |  and will result in account deletion.
      h3 User Names and Avatars
      p When setting up your account:
      ul
        li
          | Do not use the names of deity, prophets, apostles, general authorities, or other famous members of the Church, either now or in ancient times, such that it would appear to desecrate or impersonate a name or person. This also applies to your avatar.
        li Do not use a name that is obscene or inappropriate.
        li Do not use a name that sounds like or imitates inappropriate words or phrases.
        li Do not use a name of famous or infamous individuals.
        li
          | Do not use a name so as to impersonate another individual in the LDS Gamers community.
        li Do not use a name that indicates political preferences.
        li Do not use the name of government agencies.
        li Do not use a name that refers to or promote a Web site or business.
        li Do not use an inappropriate avatar (username rules apply to avatars as well).
        li
          | If you find your account on Discord breaks these rules, you will be asked to set a Nickname for the LDS Gamers server.
      h3 We encourage the following behavior:
      ul
        li Follow the Golden Rule — Everyone enjoys being treated with respect.
        li
          | When in doubt, don't post it. Take a deep breath, check your facts, etc. It's better to wait if you are unsure of something or too frustrated to think clearly.
        li Stay on topic; keep the content within the community clear and concise.
        li Do not post the same material in chat channels.
        li Use the correct chat channel for the material you are posting.
        li Post insightful content related to the topics you are discussing.
        li Keep all language clean and respectful.
      h3 You may not post any of the following:
      ul
        li Political discussions or debate.
        li Legal discussions or debate.
        li Obscene language.
        li Pornography of any kind (textual or visual).
        li
          | Comments or content that is rude, obscene, or hateful, or that ridicules or belittles any person, organization, or location (this includes any so-called “flaming” of other participants).
        li
          | Information that you know or should know to be false or that you intend to be misleading.
        li
          | Links to Websites that are off-topic or that relate to any of the items in this list.
        li Avatars or images that include any of the items in this list.
        li
          | Commercial messages, self-promotion (ie. Discord Servers, Twitch Channels, et al), or similar solicitations by non-staff members outside of the #game-deals-and-trades chat channel (special permission may be granted by LDSG Management).
        li
          | Links to Web sites in an effort to promote or generate traffic to Web sites or businesses.
        li
          | Methods for circumventing digital media security mechanisms; digital piracy of any kind.
        li Security information or passwords.
        li
          | Copyrighted content that you don’t have permission to redistribute in a public forum.
        li
          | Invitations to join other Discord Servers or Non-LDSG in-game clans/guilds where LDSG does not already have an official presence.
        li
          | Any personal matters, which are best discussed with local priesthood leaders and/or qualified professionals (posts about sinful behavior, your sexuality, gender identity, etc).
        li Self Promotion without first getting permission from LDSG Management.
        li
          | Spamming: Repeated messages or rapid postings in the same channel, or in multiple channels.
        li
          | Posted message in multiple channels for the purpose of creating “new message notifications”.
        li
          | Messages pinging/mentioning users (ie. “@username”) multiple times or with the attempt to simply annoy another person or role group. This includes pinging channel-specific roles.
      h3 Code Violations:
      p
        | LDSG prohibits members or any other person from engaging in any activity within the community that LDSG, in its sole discretion, determines is offensive, interferes with the rights of others, or causes harm to any person, including to LDSG, its members, and its staff. Violation of, or acting inconsistently with, the letter or spirit of our rules may result, in appropriate consequences and at our sole discretion, suspension, cancellation, or termination of the access to LDSG of the offending user.
      p
        | These rules are interpreted and enforced by LDS Gamers Staff, at their discretion. While asking for clarification of a Staff member's interpretation of the Code is not an issue, continuing to argue with Staff after being told that an action violates the Code of Conduct may be interpreted as an additional violation of the Code. If you believe a member of the Staff is abusing their discretion, please contact a member of Management privately.
      p
        | If you choose not to abide by these terms, your sole and exclusive remedy is to discontinue using the service.
      h3 Privacy:
      p
        | Information given through the 
        code !ign
        |  system is stored for ease of your access to various Icarus commands and may be visible to other members of LDS Gamers. LDS Gamers does not knowingly collect information from individuals under the age of 13. By joining LDS Gamers, you state that you are 13 years of age or older. Violating this may be cause for immediate termination of access to the LDSG services.
      h3 Disclaimer:
      p
        | LDS Gamers reserves the right to amend these rules from time to time, in its sole discretion. Members of the community are expected to abide by the Code of Conduct as it stands at the time.
