extends ../../layouts/layout.pug

block vars

block content
  .container.page-header
    .content
      h1 Articles

  .container
    .content.mw-1000
      article.main-article
        .article-header
          h2 Review: Ori and the Blind Forest
          .article-meta.mb-16
            p 
              date Nov 5, 2019
              span.divider | 
              a(href="#0") Reviews
              span.divider |
              a(href="#0") 3 Comments
            p.author Written by: Mechwd

          .article-thumbnail
            .tags
              .tag Featured Article
              .tag Review
            img(src="https://via.placeholder.com/1000x450")
        .article-body
          p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

          img(src="https://via.placeholder.com/1000x450")

          h1 Header Style
          h2 Header Style
          h3 Header Style
          h4 Header Style
          h5 Header Style
          h6 Header Style

          iframe(src='https://www.youtube.com/embed/WVm9W7Z16ZM?si=tlnLbfJaPzzXlsbA' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen='').video


          ul
            li List item
            li List item
            li List item
            li List item

          ol
            li List item
            li List item
            li List item
            li List item
