extends ../../layouts/layout.pug

block vars

block content
  .container.page-header
    .content
      h1 Articles

  .container
    .content

      .search-container
        input(type="search")
        button.button(type="input") 
          span.desktop Search Articles
          span.mobile
            +svg('#icon-search')

      ul.articles-list.list-unstyled
        - for(x = 0; x < 8; x++)
          - var featuredClass = x == 0 ? 'featured' : '';
          li(class=featuredClass)
            a(href="/articles/article.html")
              .article-thumbnail
                if x == 3 || x == 6
                  .tags
                    .tag Review
                if x == 0
                  .tags
                    .tag Featured Article
                    .tag Review
                img(src="https://via.placeholder.com/1000x450")
              h2 Review: Ori and the Blind Forest

              p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

            .article-meta 
              p 
                date Nov 5, 2019
                span.divider | 
                a(href="#0") Reviews
                span.divider |
                a(href="#0") 3 Comments
              p.author Written by: Mechwd

      include ../../partials/pagination