extends ../../layouts/layout.pug

block vars

block content
  .container.page-header
    .content
      h1 Articles

  .container
    .content

      .search-container
        input(type="search")
        input(type="submit" value="Search Articles").button