- var mastheadClass = pageID == "homepage" ? 'hero' : '';
header.site-masthead.container(class=mastheadClass)
  if pageID == "homepage"
    video#backgroundVideo(autoplay='' muted='' loop='' poster="/assets/images/homepage/family-playing-games-together.png")
      source(src='rain.mp4' type='video/mp4')
  .content
    include header-content.pug