.site-logo
  a(href="/")
    img(src="/assets/images/theme/logos/ldsg-logo-horz.svg" alt="LDS Gamers Logo")
  
nav.site-nav
  button.no-style.nav-icon
    +svg('#icon-menu')
  ul.list-unstyled
    include nav