header.site-masthead.container
  .content

    .site-logo
      a(href="/")
        img(src="/assets/images/theme/logos/ldsg-logo-horz.svg" alt="LDS Gamers Logo")
      
    nav.site-nav
      ul.list-unstyled
        li
          a(href="/about") About
        li
          a(href="/articles") Articles
        li
          a(href="/community-events") Community Events
        li
          a(href="/game-servers") Game Servers
        li
          a(href="/contact") Contact Us