header.site-masthead

  .site-logo
    a(href="/")
      img(src="/assets/images/theme/logos/ldsg-logo-horz.svg" alt="LDS Gamers Logo")
    
  nav
    ul
      li
        a(href="") About
      li
        a(href="") Articles
      li
        a(href="") Community Events
      li
        a(href="") Game Servers
      li
        a(href="") Contact Us