.site-logo
  a(href="/")
    if pageID == "homepage"
      img(src="/assets/images/theme/logos/ldsg-logo-horz-white.svg" alt="LDS Gamers Logo")
    else
      img(src="/assets/images/theme/logos/ldsg-logo-horz.svg" alt="LDS Gamers Logo")
  
nav.site-nav
  button.no-style.nav-icon
    +svg('#icon-menu')
  ul.list-unstyled
    li
      a(href="/about") About
    li
      a(href="/articles") Articles
    li
      a(href="/community-events") Community Events
    li
      a(href="/game-servers") Game Servers
    li
      a(href="/contact") Contact Us