svg(viewBox='0 0 1440 72' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio="none").hero-divider
  g(clip-path='url(#clip0_1118_364)')
    path(d='M716.26 68.832L-5 0V72H1440V0L716.26 68.832Z' fill='#F89A22')
  g(clip-path='url(#clip1_1118_364)')
    path(d='M716.26 69.668L-5 19V72H1440V19L716.26 69.668Z' fill='white')
  defs
    clippath#clip0_1118_364
      rect(fill='white' height='72' transform='translate(-5)' width='1445')
    clippath#clip1_1118_364
      rect(fill='white' height='53' transform='translate(-5 19)' width='1445')
