li(class= pageTitle === "About" ? "active" : "")
  a(href="/about") About
li(class= pageTitle === "Articles" ? "active" : "")
  a(href="/articles") Articles
li(class= pageTitle === "Community Events" ? "active" : "")
  a(href="/community-events") Community Events
li(class= pageTitle === "Game Servers" ? "active" : "")
  a(href="/game-servers") Game Servers
li(class= pageTitle === "Contact Us" ? "active" : "")
  a(href="/contact") Contact