ul.pagination.list-unstyled
  li
    a(href='#0') 
      +svg('#icon-arrow-left')
  li.active
    span 1
  li
    a(href='https://www.ldsgamers.com/blog?page=2') 2
  li
    a(href='https://www.ldsgamers.com/blog?page=3') 3
  li.disabled
    span ...
  li
    a(href='https://www.ldsgamers.com/blog?page=16') 16
  li
    a(href='https://www.ldsgamers.com/blog?page=17') 17
  li
    a(href='#0') 
      +svg('#icon-arrow-right')
