extends ../../layouts/layout.pug

block vars

block content
  .container.page-header
    .content
      h1 About

  section.container
    .content
      img(src="/assets/images/about/father-and-son-playing-video-game.jpg").mb-48

      p Our community is everything. We work really hard to bring people together with shared interests and goals in playing video games. We have several things going on to help you find people to play with and make good friends along the way. We also try our hardest to listen to the community and find out what they want and need. If you have any suggestions, please 
        a(href="#0") contact us
        |  and we will do our best.

      p You can also find LDSG players on the 
        a(href="#0") Steam Group
        |  and 
        a(href="#0") Xbox Live Group
        | .


  section.container.type-white(style="background-image: url('/assets/images/about/bw-controller.jpg');")
    .content

      h2.text-center Our 
        span.text-primary Goals

      .double-text-column
        h4 The LDS Gaming Community and Filling a Need

        p Our goal is to provide a way for people to find others to play games with people that share the same values and interests. We found that far too often we were in multiplayer games with "randoms" and being subjected to offensive language and humor that left us feeling gross inside. There was a need, and we are here to fill that need. We want to help others avoid inappropriate multiplayer experiences.

        h4 Gaming Culture, Just For You

        p Whether you enjoy watching gameplay videos, listening to gaming podcasts, watching Twitch/YouTube streams and like comedy mixed with your gaming; we hope to provide a cleaner gaming culture and community than what is commonly found out there in the wild.

        h4 A Safe Space to Play

        p The Internet is a wonderful pathway to a lot of good, but there's no way of knowing what type of person is on the other end of a multiplayer connection. We hope that by providing access to dedicated servers that are heavily moderated, we can keep those paths a little brighter.

        h4 Lest We Forget

        p Gaming may be our choice for entertainment, but we understand the importance of our time. Time is our most valuable asset, and as such we should be careful of how much time we are spending on recreation. Though the expansive Minecraft build, accumulated RPG levels or impressive K/D ratio represent real time and effort, may we not neglect the truly important things in exchange for these superficial achievements.

        blockquote
          p 
            i "Feasting on the word of God each day is more important than sleep, school, work, television shows, video games, or social media."

          cite 
            strong Make the Exercise of Faith Your First Priority by Elder Richard G. Scott


  section.container
    .content
      ul.list-unstyled.about-features
        li 
          .graphic
            img(src="https://via.placeholder.com/350x280 ")
          .text
            h2 Discord
            p Discord is LDSGamer's main line of communication and interaction. User accounts are free and enable you to connect with hundreds of other LDS gamers in our community. Look for gaming groups, talk about your favorite games, participate in activities and give aways, and become friends with gamers that share your passion about mupliple topics and games.
            p
              a(href="#0").button Join Us On Discord
        li 
          .graphic
            img(src="https://via.placeholder.com/350x280")
          .text
            h2 Dedicated Servers
            p Discord is LDSGamer's main line of communication and interaction. User accounts are free and enable you to connect with hundreds of other LDS gamers in our community. Look for gaming groups, talk about your favorite games, participate in activities and give aways, and become friends with gamers that share your passion about mupliple topics and games.
            p
              a(href="#0").button View Our Servers
        li 
          .graphic
            img(src="https://via.placeholder.com/350x280")
          .text
            h2 Articles
            p Discord is LDSGamer's main line of communication and interaction. User accounts are free and enable you to connect with hundreds of other LDS gamers in our community. Look for gaming groups, talk about your favorite games, participate in activities and give aways, and become friends with gamers that share your passion about mupliple topics and games.
            p
              a(href="#0").button Read Our Articles