extends ../../layouts/layout.pug

block vars

block content
  .container.page-header
    .content
      h1 Game Servers

  section.container
    .content

      ul.server-list.list-unstyled
        -for (x = 0; x < 2; x++)
          - var className = x == 1 ? 'status-down' : '';
          li(class= className)
            .server-image
              img(src="https://via.placeholder.com/750x400")
              .tags 
                .tag PC
            .server-info
              .server-title
                .server-status
                  if x == 1
                    +svg('#icon-circle-warning', 'status-down')
                  else
                    +svg('#icon-check-circle', 'status-up')
                .server-name
                  h3 Minecraft
                  p Server URL: 
                    strong jaxs.mynetgear.com
                  if x == 1
                    p.down-message This server is currently offline.
              .server-details
                p Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
