extends ../layouts/layout.pug

block vars
  - pageID = "homepage";

block content
  section.container.hero
    .content

      .hero-content
        h1.text-header--1 The Family Friendly
          br
          |  Gaming Community
        p Where gaming meets family values. Join our community dedicated to providing a safe and enjoyable gaming environment for all ages, where you can connect, compete, and create unforgettable memories together.
        p
          a(href="#0").button Join Us on Discord

    include ../partials/hero-divider


  section.container
    .content
      h2.text-center.mb-48
        span.text-primary Join 
        | Our Community

      ul.community-features.list-unstyled
        -for(x=0; x<6; x++)
          li
            .icon
              +svg('#icon-headset')
            h3.text-header--5 Clean Multiplayer Experience
            p Tired of the constant profanity? Have some control over the voices you allow into your home! Game with those that share your values and interests!

  section.container.gray.type-white.orange-side
    .orange-background
    .content.mw-1200
      .recent-article
        .article-image
          a(href="#0")
            img(src="https://placehold.co/550x320")
        .article-intro
          h2.text-header--6 Recent Article
          a(href="#0")
            h3.text-header--1.mb-16  The PS5 four years later
            p Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.

          a(href="#0").button.mt-36 Read Article

  section.container
    .content

      h2.text-center.mb-48
        span.text-primary Common 
        | FAQ

      ol.faqs.list-unstyled
        -for(x=1; x<=6; x++)
          li(x-data="{selected:null}")
            button.no-style(aria-expanded="false" aria-controls="answer-" + x @click="selected !== " + x + " ? selected = " + x + " : selected = null")
              .question
                .number 0
                  span=x
                h3.text-header--5 What is LDS Gamers?
                .icon(x-show = "selected != " + x)
                  +svg('#icon-add', 'faq-icon')
                .icon(x-show = "selected == " + x)
                  +svg('#icon-subtract', 'faq-icon collapse')
            .answer(role="region" id="answer-" + x x-ref="answer" + x  x-bind:style="selected == " + x + " ? 'max-height: ' + $refs.answer" + x + ".scrollHeight + 'px' : ''")
              .inner
                p Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
