extends ../layouts/layout.pug

block vars
  - pageID = "homepage";

block content
  section.container
    .content
      h2.text-center.mb-48
        span.text-primary Join 
        | Our Community

      ul.community-features.list-unstyled
        -for(x=0; x<6; x++)
          li
            .icon
            h3.text-header--5 Clean Multiplayer Experience
            p Tired of the constant profanity? Have some control over the voices you allow into your home! Game with those that share your values and interests!

  section.container.gray
    .content

  section.container
    .content

      ol.faqs.list-unstyled
        -for(x=1; x<=6; x++)
          li
            .question
              .number 0
                span=x
              h3.text-header--5 What is LDS Gamers?
            .answer
              p Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
