/*
-----------------------------------------
BUTTONS
-----------------------------------------
*/


.no-style {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: var(--font);
  text-align: left;

  &.no-desktop-focus {
    @include mq('tablet') {
      visibility: hidden;
    }
  }
}


.button {
  cursor: pointer;
  display: inline-flex;
  border: none;
  @include transition();
  -webkit-appearance: none;
  background: var(--primary);
  color: var(--black);
  text-decoration: none;
  padding: 11px 24px;
  text-align: center;
  width: auto;
  border-radius: var(--radius);
  @include rem-size(18px);
  line-height: 1.4em;

  &:hover {
    background: var(--orange-dark);
  }

  &:focus-visible {
    @extend %focus;
  }

  &.dark {
    background: var(--gray);
    color: var(--white);

    &:hover {
      background: var(--black);
      color: var(--white);
    }
  }
}





.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  // Alignment

  &.align-center {
    justify-content: center;
  }

  &.align-right {
    justify-content: flex-end;
  }
}