/*
-----------------------------------------
NAVIGATION
-----------------------------------------
*/

.site-nav {
  --nav-gap-spacing: 32px;
  --nav-padding-inline: 8px;
  --nav-padding-block: 8px;

  ul {
    display: none;
    gap: calc(var(--nav-gap-spacing) - (var(--nav-padding-inline) * 2));
  }

  li, a {
    @include rem-size(20px);
    color: var(--text-color);
  }

  a {
    text-decoration: none;
    padding: var(--nav-padding-block) var(--nav-padding-inline);

    &:hover {
      color: var(--primary);
    }
  }

  .hero & {
    li, a {
      color: var(--white);
    }

    a {
      &:hover {
        color: var(--primary);
      }
    }
  }

  @include mq('desktop-small') {
    ul {
      display: flex;
    }
  }
}



.nav-icon {
  svg {
    fill: var(--gray-dark);
    width: 40px;
    height: 40px;
  }

  @include mq('desktop-small') {
    display: none;
  }
}




.footer-nav {
  margin-bottom: 32px;
  li {
    @include rem-size(14px);
    margin-bottom: 0;
  }

  a {
    padding: 8px 0;
    display: block;
    color: var(--text-color-light);
    text-align: center;
    text-decoration: none;

    &:hover {
      color: var(--primary);
    }
  }

  @media (min-width: 36em) {
    a {
      text-align: left;
    }
  }
}