/*
-----------------------------------------
TYPOGRAPHY
-----------------------------------------
*/


/*  Basics */

a {
  color: var(--link-color);
  @include transition();

  &:hover {
    text-decoration: none;
  }
}

p, cite {
  @include rem-size($font-size);
  line-height: 1.6em;
  color: var(--text-color);
  margin-bottom: 1.2em;

  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {

}

hr {

}

ul, ol {
  padding-left: 20px;
  margin-bottom: 1.2em;
}

li {
  color: var(--text-color);
  @include rem-size(16px);
  margin-bottom: 12px;
  line-height: 1.4em;

  &:last-child {
    margin-bottom: 0;
  }
}


/* Headers */

h1, h2, h3, h4, h5, h6,
.text-header--1,
.text-header--2,
.text-header--3,
.text-header--4,
.text-header--5,
.text-header--6 {
  line-height: 1.6;
  font-weight: var(--bold);
  color: var(--text-color);
  margin-bottom: 1em;
}

.text-header--1, h1 {
  @include rem-size(36px);
  font-weight: var(--normal);
}

.text-header--2, h2 {
  @include rem-size(32px);
}

.text-header--3, h3 {
  @include rem-size(28px);
}

.text-header--4, h4 {
  @include rem-size(24px);
}

.text-header--5, h5 {
  @include rem-size(20px);
}

.text-header--6, h6 {
  @include rem-size(18px);
}



.type-white {
  .text-header--1, h1,
  .text-header--2, h2,
  .text-header--3, h3,
  .text-header--4, h4,
  .text-header--5, h5,
  .text-header--6, h6,
  p, li, cite {
    color: var(--white)
  }
}

.text-primary {
  color: var(--primary);
}


/* Tags */

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tag {
  @include rem-size(14px);
  color: var(--white);
  background: var(--gray);
  border-radius: var(--radius);
  padding: 4px 8px;
  line-height: 1;
}


blockquote {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 32px;
  border-radius: var(--radius);

  p {
    text-indent: -0.2em;
  }
}

@supports (hanging-punctuation: first) {
  blockquote  p{
    text-indent: 0;
    hanging-punctuation: first;
  }
}