extends ../../layouts/layout.pug

block vars

block content
  .container.page-header
    .content
      h1 Community Events

  section.container
    .content
      #calendar

  //- .container.off-white
  //-   .content.section-content
  //-     .mb-48
  //-       h2.text-center.mb-64 Stream Team

  //-       .button-group.align-center
  //-         a(href="https://www.twitch.tv/ldsgamers" target="_blank").button View Official Twitch
  //-         a(href="/community-events/join-stream-team.html").button Join the Stream Team