/*
-----------------------------------------
WIDTHS
-----------------------------------------
*/

:root {
  --site-width:             1440px;
  --nav-width:              300px;

  --border-radius:          4px;
}


/*
-----------------------------------------
COLORS
-----------------------------------------
*/

:root {

  // Primary
  --orange:                 #F89A22;
  --gray:                   #4A4A4A;
  --white:                  #FFF;

  // Secondary
  --off-white:              #F1EFEF;
  --gray-mid:               #D1D1D1;
  --gray-med:               #969696;

  // Utility
  --error:                  #D42228;
  --success:                #39B54A;


  --base-color:             var(--white);
  --content-background:     var(--white);

  --primary:                var(--orange);

  // Text
  --text-color:             var(--gray);
  --link-color:             var(--primary);


  // User Select (colors when a user selects objects on screen)
  --select-background:      var(--primary);
  --select-text:            var(--white);
}


/*
-----------------------------------------
FONTS
-----------------------------------------
*/

// Font Family

:root {
  --light:                  300;
  --normal:                 400;
  --bold:                   700;

  --font:                   "Oxygen", Arial, sans-serif;
}

$font-size:                 16px; // This is a SCSS variable for the mixin function


/*
-----------------------------------------
BREAKPOINTS
-----------------------------------------
*/

$breakpoints: (
    "desktop-wide":         1248px,
    "desktop":              1024px,
    "desktop-small":        992px,
    "tablet-wide":          850px,
    "tablet":               768px,
    "tablet-small":         720px,
    "phone-wide":           600px,
    "phone":                480px,
    "phone-small":          400px
);

// Media Queries

@mixin mq($width, $type:'>=') {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
  }
  @media only screen and (width #{$type} $width) {
    @content;
  }
}

// Container Queries

@mixin container($width, $type: '>=', $containerName: '') {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
  }
  @container #{$containerName} only screen and (width #{$type} #{$width}) {
    @content;
  }
}